<div class="col-md-3 mb-3">
    <div class="card card-custom">
        <img src="static/images/{{ product.image }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.price }}₾</p>
            <form method="post" enctype="multipart/form-data">
                {{ product_form.hidden_tag() }}
                <input type="text" name="productId" value="{{ product.id }}" style="display:none;">
                <div class="d-flex justify-content-between">
                    {% if current_user.is_authenticated %}
                        {{ product_form.addToCart(class="btn btn-success") }}
                    {% else %}
                        <a class="btn btn-success" href="/login">Add To Cart</a>
                    {% endif %}
                    {{ product_form.favorite(class="btn btn-outline-secondary") }}
                </div>
            </form>
        </div>
    </div>
</div>
