{% extends "base.html" %}

{% block title %}
Log in - Pickle Master
{% endblock %}

{% block body %}
<style>
    .login-container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #007345;
        border-radius: 10px;
        background-color: white;
        color: #007345;
    }
    .form-control:focus {
        border-color: #007345;
        box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.25);
    }
</style>
<div class="container">
    <div class="login-container">
        <h2 class="text-center">Log in</h2>
        <form method="post" enctype="multipart/form-data">
            {{ login_form.hidden_tag() }}
            <div class="mb-3">
                <label class="form-label">Username</label>
                {{ login_form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ login_form.password(class="form-control") }}
            </div>
            {{ login_form.submit(class="btn btn-success w-100") }}
        </form>
    </div>
</div>
{% endblock %}